In [249]:
import pandas as pd

from sklearn.model_selection import train_test_split, KFold, cross_val_score

from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVR
from sklearn.linear_model import BayesianRidge

from sklearn.preprocessing import Normalizer
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

In [250]:
df = pd.read_csv('osuDataset.csv')
print(df.shape)
df['mode'].value_counts()

(4253, 26)

osu       2364
taiko      786
mania      759
fruits     344
Name: mode, dtype: int64

In [251]:
df = df.query("mode == 'osu'")
print(df.shape)
df['mode'].value_counts()

(2364, 26)

osu    2364
Name: mode, dtype: int64

In [252]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2364 entries, 13 to 4247
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   beatmapset_id      2364 non-null   int64
 1   difficulty_rating  2364 non-null   float64
 2   id                 2364 non-null   int64
 3   mode               2364 non-null   object
 4   status             2364 non-null   object
 5   total_length       2364 non-null   int64
 6   user_id            2364 non-null   int64
 7   version            2364 non-null   object
 8   accuracy           2364 non-null   float64
 9   ar                 2364 non-null   float64
 10  bpm                2364 non-null   float64
 11  convert            2364 non-null   bool
 12  count_circles      2364 non-null   int64
 13  count_sliders      2364 non-null   int64
 14  count_spinners     2364 non-null   int64
 15  cs                 2364 non-null   float64
 16  deleted_at         0 non-null      float64
 17  drain              2364 non-null   float64
 18  hit_length         2364 non-null   int64
 19  is_scoreable       2364 non-null   bool
 20  last_updated       2364 non-null   object
 21  mode_int           2364 non-null   int64
 22  passcount          2364 non-null   int64
 23  playcount          2364 non-null   int64
 24  ranked             2364 non-null   int64
 25  url                2364 non-null   object
dtypes: bool(2), float64(7), int64(12), object(5)
memory usage: 466.3+ KB

In [253]:
y = df['difficulty_rating']
x = df[['hit_length','cs','drain','ar','accuracy','bpm']]
x.describe()

,total_length,cs,drain,ar,accuracy,bpm
count,2364.000000,2364.000000,2364.000000,2364.000000,2364.000000,2364.000000
mean,161.904399,3.830795,4.683756,7.806345,6.871701,165.562418
std,84.689761,0.633538,1.095348,1.744984,1.922165,37.283910
min,33.000000,0.000000,0.000000,0.000000,0.000000,57.333300
25%,90.000000,3.500000,4.000000,7.000000,6.000000,140.000000
50%,144.000000,4.000000,5.000000,8.500000,7.500000,172.000000
75%,219.000000,4.000000,5.400000,9.000000,8.400000,187.000000
max,1648.000000,10.000000,9.000000,10.000000,10.000000,300.999000

In [254]:
scaler = MinMaxScaler()
x = scaler.fit_transform(x)
pd.DataFrame(x).describe()

,0,1,2,3,4,5
count,2364.000000,2364.000000,2364.000000,2364.000000,2364.000000,2364.000000
mean,0.079817,0.383080,0.520417,0.780635,0.687170,0.444171
std,0.052439,0.063354,0.121705,0.174498,0.192216,0.153013
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.035294,0.350000,0.444444,0.700000,0.600000,0.339263
50%,0.068731,0.400000,0.555556,0.850000,0.750000,0.470590
75%,0.115170,0.400000,0.600000,0.900000,0.840000,0.532150
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [255]:
# scaler = StandardScaler()
# x = scaler.fit_transform(x)
# pd.DataFrame(x).describe()

In [256]:
models = [LinearRegression(), KNeighborsRegressor(), DecisionTreeRegressor(), BayesianRidge(), SVR()]
results = []

for model in models:
    results.append(cross_val_score(model, x, y, cv = 10).sum() / 10)

results

[0.655610447879157,
 0.8365914474117776,
 -1.983553499165004,
 0.6642733203696558,
 0.8383424935269967]